{% extends 'layout.html' %}

{% block hero %}
  <h1>Powering Merchants,<br> Empowering Consumers.</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
<section class="digital">
  <div class="mdc-layout-grid bl-layout-wrapper">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2 class="title_center">Create &amp; scale your <br>own digital economy</h2>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet bl-layout--order-1-mobile ">
        <div class="digital__section">
          <h3>Digital marketplace</h3>
          <p>Shopping, ordering, and marketing solutions including custom promotions,
            loyalty, and gift&nbsp;cards</p>
        </div>
        <div class="digital__section">
          <h3>Digital wallet</h3>
          <p>Instant &amp; secure low cost transactions</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
        <ul class="my-slider">
          <li><img src="../images/slider/slider_01.png" alt="screenshot from balehu mobile application"></li>
          <li><img src="../images/slider/slider_02.png" alt="screenshot from balehu mobile application"></li>
          <li><img src="../images/slider/slider_03.png" alt="screenshot from balehu mobile application"></li>
          <li><img src="../images/slider/slider_04.png" alt="screenshot from balehu mobile application"></li>
          <li><img src="../images/slider/slider_05.png" alt="screenshot from balehu mobile application"></li>
        </ul>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
        <div class="digital__section">
          <h3>Stable digital currency</h3>
          <p>Pegged 1:1 with any fiat currency</p>
        </div>
        <div class="digital__section">
          <h3>Data ownership</h3>
          <p>Consumers make money from selling there transaction&nbsp;data</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="get-started" class="wallet">
  <div class="bl-bgnd-wrapper">
    <div class="mdc-layout-grid bl-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2 class="title_center">Get started for free.<br>See how much we can save your business on&nbsp;fees.</h2>
          <img src="../images/img_digital.png" width="100%"
               alt="barista preparing delicious cup of coffee - get paid more for your product with Balehu">
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-layout-grid bl-layout-wrapper">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <img class="iphone-desktop" src="../images/balehu_wallet.png" width="100%" height="auto">
        <img class="iphone-phone" src="../images/balehu_wallet01.png" width="100%" height="auto">
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h2>If your revenue is <span class="bh-revenue">$ <input type="number" id="revenue-input"
                                                                 class="bh-revenue__input" min="0" max="1000000000"
                                                                 value="500" size="5"/></span>, Balehu can save up
          to <span class="bh-revenue">$ <span id="revenue-output" class="bh-revenue__output">12.19</span></span> per
          year on transaction fees over traditional
          credit&nbsp;cards</h2>
        <a href="" class="button">Request Demo</a>
      </div>
    </div>
  </div>
</section>
<section class="benefits bl-bgnd-wrapper">
  <div class="mdc-layout-grid bl-layout-wrapper">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>How your business benefits</h2>
      </div>
      <div class="bl-box mdc-layout-grid__cell">
        <img src="../images/benefit_01.png" width="100%" height="auto">
        <h3>Increase Revenue</h3>
        <p>Reduce transaction fees up to 75% with no cross-border or exchange&nbsp;fees.</p>
      </div>
      <div class="bl-box mdc-layout-grid__cell">
        <img src="../images/benefit_02.png" width="100%" height="auto">
        <h3>Customer loyalty</h3>
        <p>Create custom campaigns that drive new and recurring customers to your
          business.</p>
      </div>
      <div class="bl-box mdc-layout-grid__cell">
        <img src="../images/benefit_03.png" width="100%" height="auto">
        <h3>Digital Payments</h3>
        <p>Your customers can instantly send payments; in app, online, or in&nbsp;person.</p>
      </div>
      <div class="bl-box bl-box-margin mdc-layout-grid__cell">
        <img src="../images/benefit_04.png" width="100%" height="auto">
        <h3>Stability</h3>
        <p>Backed 1:1 with any fiat currency to hold a stable value unlike other crypto
          currencies which are highly volatile.</p>
      </div>
      <div class="bl-box bl-box-margin mdc-layout-grid__cell">
        <img src="../images/benefit_05.png" width="100%" height="auto">
        <h3>Data Ownership</h3>
        <p>Consumers have control over their data and can earn by selling their
          transaction data to advertisers and other businesses.</p>
      </div>
      <div class="bl-box bl-box-margin mdc-layout-grid__cell">
        <img src="../images/benefit_06.png" width="100%" height="auto">
        <h3>Security</h3>
        <p>Using blockchain technology, process and verify transactions for no
          additional&nbsp;cost.</p>
      </div>
    </div>
  </div>
</section>
<section class="closure bl-text--center">
  <div class="mdc-layout-grid bl-layout-wrapper">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2 class="title_center">Get started Today</h2>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <a href="/demo-request" class="button">Request Demo</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    //initialize screenshot slider
    var slider = tns({
      container: ".my-slider",
      slideBy: "page",
      autoplay: true,
      navPosition: "bottom",
      autoplayPosition: "bottom",
      controls: false,
      "autoplayText": ["▶", "❚❚"]
    });

    //initialize revenue calculator
    var revenueOutputElm = document.getElementById("revenue-output");
    document.getElementById("revenue-input").addEventListener("input", function() {
      revenueOutputElm.innerText = Math.round((this.value * 3.25) * .75) / 100;
    });
  });
</script>
{% endblock %}
