.digital {
  .digital__section {
    h3 {
      font-size: 30px;
      margin-bottom: 0;
    }
  }
}

.slider {
  text-align: center;
  position: relative;
  &::before {
    left: -45px;
    top: -30px;
    height: 200px;
    width: 200px;
    display: block;
    content: "";
    position: absolute;
    background: url("/images/gump_icon.png") top left no-repeat;
    background-size: 70%;
    z-index: -1;
  }
}