.digital {
  .digital__section {
    h3 {
      font-size: 30px;
      margin-bottom: 0;
    }
  }
  .icon_bgnd {
    background: url("/images/gump_icon.png") top left no-repeat;
    background-size: 40%;
    background-position-y: -8%;
    background-position-x: -24%;
    display: flex;
    z-index: 2;
  }
}
