header {
  color: #FFFFFF;
  position: relative;
  background: linear-gradient(25.21deg, #00DED3 4.65%, #09B1D8 15.32%, #1865E2 34.83%, #2135E8 48.77%, #2523EA 55.69%, #3E1FE7 60.19%, #A30EDC 79.22%, #E304D5 92.45%, #FC00D2 98.66%);

  .menu_list a,
  .logo {
    color: #FFFFFF;

    &:hover {
      color: #32305D;
    }
  }

  //.menu_list { max-width: 400px}

  @media screen and (min-width: 760px) {
    h1 {
      margin: 0.5em 0 0.5em;
    }
    .hero-subtitle {
      margin-bottom: 4em;
    }
  }
  @media screen and (min-width: 1000px) {
    background: url("/images/gump/change-bgnd_icon.png") right center no-repeat, linear-gradient(25.21deg, #00DED3 4.65%, #09B1D8 15.32%, #1865E2 34.83%, #2135E8 48.77%, #2523EA 55.69%, #3E1FE7 60.19%, #A30EDC 79.22%, #E304D5 92.45%, #FC00D2 98.66%);
    background-size: 20%, 100%;
    .hero-subtitle {
      max-width: 554px;
      line-height: 36px;
    }
  }
}

.logo {
  align-self: center;
  display: inherit;
  font-size: 24px;
  font-weight: 900;

  @media screen and (max-width: 479px) {
    font-size: 24px;
    padding-top: 2px;
    justify-content: flex-end;
  }
  @media screen and (max-width: 839px) {
    font-size: 24px;
    padding-top: 2px;
    justify-content: flex-end;
  }
}

.gp-hamburger {
  @media screen and (min-width: 840px) {
    display: none;
  }
  display: flex;
  align-items: center;

  .gp-hamburger__container {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    width: 18px;
    height: 18px;
    position: relative;
  }

  .gp-hamburger__container::after {
    content: "menu";
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    top: 7px;
    left: 36px;
  }

  .gp-hamburger__bar {
    background-color: #fff;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: transform 0.4s;

    &:first-of-type {
      transform: translateY(-6px);
    }

    &:last-of-type {
      transform: translateY(6px);
    }
  }

  .gp-hamburger__container--open {
    .gp-hamburger__bar:first-of-type {
      transform: rotate(-45deg);
    }

    .gp-hamburger__bar:nth-of-type(2) {
      opacity: 0;
    }

    .gp-hamburger__bar:last-of-type {
      transform: rotate(45deg);
    }
  }
}

.menu {
  align-self: center;

  .gp-bar {
    z-index: 1000;
    transition: all 0.2s;
    top: 0;
    @media screen and (max-width: 839px) {
      position: fixed;
      background-color: #1a1d57;
      height: 60px;
      .gp-layout-wrapper {
        padding: 8px 16px 0 8px;
      }
    }
    @media screen and (min-width: 840px) {
      height: 72px;
      .gp-layout-wrapper {
        padding: 20px 0 0 16px;
      }
    }
  }
}

.gp-bar.gp-bar--open {
  @media screen and (max-width: 839px) {
    position: fixed;
    .gp-hamburger__container::after {
      color: white;
    }
    .gp-hamburger__bar {
      background-color: #FFFFFF;
    }
    .gp-menu {
      transform: translate(-16px, -70px);
      z-index: -1;
    }
    .menu_list a {
      color: #FFFFFF;
      text-align: left;
    }
    .gp-menu li:hover {
      border-bottom-color: #FFFFFF;
    }
    .menu_list {
      display: inline-grid;
      width: 100%;
      background: rebeccapurple;
      padding: 16px 0;
    }
  }
}


.gp-menu {
  @media screen and (max-width: 839px) {
    width: 100vw;
    height: 100vh;
    padding-top: 64px;
    transform: translate(calc(-140vw - 8px), -64px);
    position: fixed;
    z-index: 3;
    transition: transform 0.3s;
    overflow: hidden;
    background-color: rebeccapurple;
    color: #2d3d90;

    .menu_list li {
      margin: 0 24px;
      border-bottom: 1px solid transparent;
    }
    .menu_list li + li {
      border-top: 1px solid white;
    }
    .menu_list a {
      display: block;
      padding: 12px;
      margin: 4px;
      text-transform: capitalize;
    }
  }
}

.gp-menu--horizontal .menu_list {
  display: -webkit-inline-flex;
  margin: 0;
  padding: 0;
  line-height: 32px;
}

.gp-menu--horizontal .menu_list a {
  display: inline-block;
  padding: 4px 8px;
}

.gp-menu--horizontal .menu_list li + li {
  margin-left: 32px;;
}
