// Header overriders
header {
  background-image: url("../images/bgnd_header.png");
}

// Tiny slider styles //

.tns {
  &-nav {
    text-align: center;

    > [aria-controls] {
      width: 9px;
      height: 9px;
      padding: 0;
      margin: 0 5px;
      border-radius: 50%;
      background: #C4C4C4;
      border: 0;
    }

    > .tns-nav-active {
      background: #6C6AB9;
    }
  }

  &-item {
    img {
      width: 100%;
      max-width: 305px;
    }
  }

  &-slider {
    padding-left: 0;
    z-index: -1;
    position: relative;
  }

  &-outer [data-action] {
    display: block;
    margin: 10px auto;
    font-size: 17px;
    min-width: 3em;
    text-align: center;
    background: transparent;
    border: 0;
  }
}

// Revenue calculator styles //

.bh-revenue {
  color: #B1AEF8;
  white-space: nowrap;
  &__input {
    display: inline-block;
    border: none;
    font-size: 48px;
    color: #B1AEF8;
    font-weight: 700;
    max-width: 5em;
    -moz-appearance:textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    @media screen and (max-width: 999px) {
      font-size: 24px;
    }
  }

  &__output {
    min-width: 3em;
    display: inline-block;
  }

  &__input,
  &__output {
    border-bottom: 4px solid #B1AEF8;
  }
}

// Section - Create & scale your digital economy //

.digital {
  p {
    color: #B4B4B4;
  }

  @media screen and (min-width: 1030px) {
    &__section {
      margin-top: 5em;
      min-height: 9em;
    }

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
  }
}

// Section - Get started for free, Wallet calculator //

.wallet {
  h2.title_center {
    padding-bottom: 36px;
  }

  @media screen and (min-width: 1030px) {
    img.iphone-phone {
      display: none;
    }
  }
  @media (max-width: 1019px) {
    img.iphone-desktop {
      display: none;
    }
  }
  .bl-bgnd-wrapper {
    background-position: bottom 0 center;
  }
}

// Section - How your business benefits //

.benefits {
  h2 {
    padding-bottom: 0;
  }

  .bl-box {
    text-align: center;
    min-height: 430px;
    h3 {
      font-size: 26px;
      line-height: 20px;
      padding: 8px 24px;
    }

    p {
      font-size: 16px;
      color: #B4B4B4;
      margin: 0 auto;
      padding: 0 24px 4px;
    }

    @media (max-width: 320px) {
      height: 410px;
    }
  }
  @media screen and (min-width: 1030px) {
    .bl-box-margin {
      margin-top: 14px;
    }
  }
}