{% extends 'layout.html' %}
{% block title %}Contact us | {% endblock %}

{% block hero %}
<h1>Get in touch with us</h1>
<h2 class="hero-subtitle">Whether you're a corporate, government or startup we would like to hear from you.</h2>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/stylesheets/contact.css">
<section class="locations bl-text--center">
    <div class="mdc-layout-grid bl-layout-wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h2 class="title_center">We are based in these current locations</h2>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <ul class="locations__list">
            <li>
                <h3>Denver</h3>
                <img src="../../images/location_01.png" width="204">
            </li>
            <li>
                <h3>Singapore</h3>
                <img src="../../images/location_02.png" width="204">
            </li>
            <li>
                <h3>Dubai</h3>
                <img src="../../images/location_03.png" width="204">
            </li>
            <li>
                <h3>Prague</h3>
                <img src="../../images/location_04.png" width="204">
            </li>
            </ul>
            </div>
        </div>
    </div>
</section>

<section class="contact-us">
    <div class="bl-bgnd-wrapper">
        <div class="mdc-layout-grid bl-layout-wrapper">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <h2>Send us a&nbsp;message</h2>
                    <h3>Feel free to reach us, we will get back to you as soon as possible</h3>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                    <div class="bl-box bl-box__inner">
                        <form class="mdc-layout-grid__inner" id="contactForm">
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <div class="bl-form-control">
                                    <label class="bl-form-control__label" for="firstName">First Name</label>
                                    <input class="bl-form-control__input" id="firstName" type="text" placeholder="Enter first name" required/>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <div class="bl-form-control">
                                    <label class="bl-form-control__label" for="lastName">Last Name</label>
                                    <input class="bl-form-control__input" id="lastName" type="text" placeholder="Enter last name" required/>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <div class="bl-form-control">
                                    <label class="bl-form-control__label" for="email">Email</label>
                                    <input class="bl-form-control__input" id="email" type="email" placeholder="Enter email address" required/>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <div class="bl-form-control">
                                    <label class="bl-form-control__label" for="phone">Phone Number</label>
                                    <input class="bl-form-control__input" id="phone" type="tel" placeholder="Enter phone number"/>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                <div class="bl-form-control">
                                    <label class="bl-form-control__label" for="message">Message</label>
                                    <textarea class="bl-form-control__input" id="message" placeholder="Enter message" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                <button class="button" id="submitBtn" type="submit">Submit</button>
                                <p id="resultMessage" style="display:none">Message successfuly sent.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
  document.getElementById('contactForm').addEventListener('submit', (e) => {
    e.preventDefault();
    const URL = "https://xdyzal23wj.execute-api.us-east-1.amazonaws.com/default/contact-us";

    const data = {
      type: "contactUs",
      firstName: document.getElementById("firstName").value,
      lastName: document.getElementById("lastName").value,
      email: document.getElementById("email").value,
      phone: document.getElementById("phone").value,
      message: document.getElementById("message").value,
    }


    const submitBtn = document.getElementById("submitBtn");
    const resultMsg = document.getElementById("resultMessage");
    submitBtn.textContent = "Sending...";
    submitBtn.setAttribute("disabled", true);

    fetch(URL, {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    }).then(r => r.json()).then(resp => {
      submitBtn.textContent = "Submit";
      submitBtn.removeAttribute("disabled");
      resultMsg.innerText = "Message sent successfully";
      resultMsg.style.display = "block";
    }).catch(err => {
      console.error(err);
      submitBtn.textContent = "Submit";
      submitBtn.removeAttribute("disabled");
      const response = "Network error";
      resultMsg.innerText = response;
      resultMsg.style.display = "block";
    });
  });
</script>

<section class="bl-text--center">
    <div class="mdc-layout-grid bl-layout-wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h2 class="title_center">Contact us</h2>
                <p class="contat-info"><a href="mailto:info@balehu.com">info@balehu.com</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
