<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}GUMPchange</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Accept-CH" content="DPR,Viewport-Width,Width">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="description"
          content="The first global roundup change app that leverages spare change to ease your financial burdens & improve your mental health.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gump.com/">

    <script>WebFontConfig = {typekit: {id: "dlz5yfx"}, async: true};</script>
    <script async src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" defer
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/gump/main.css">
    <link rel="stylesheet" href="/stylesheets/gump/header.css">
    {% block head %}{% endblock %}
    {% include "shared/app-icons.html" %}
</head>
<body>
<header>
    <div class="mdc-layout-grid gp-layout-wrapper">
        <div class="bl-bar mdc-layout-grid__inner">
            <div
                    class="bl-hamburger mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-5-tablet">
                <div class="bl-hamburger__container">
                    <div class="bl-hamburger__bar"></div>
                    <div class="bl-hamburger__bar"></div>
                    <div class="bl-hamburger__bar"></div>
                </div>
            </div>
            <div
                    class="logo mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-3-desktop">
                <a class="logo" href="/" title="Logo Gump">GumpChange</a>
            </div>
            <div
                    class="menu mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-9-desktop">
                <nav id="nav" class="navigation bl-menu">
                    <ul class="menu_list">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        <li><a href="/request-demo/">Partner with us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                {% block hero %}{% endblock %}
            </div>
        </div>
    </div>
    <script>
        var appBar = document.querySelector(".bl-bar");
        var hamburger = document.querySelector(".bl-hamburger__container");
        var menu = document.querySelector(".bl-menu");
        var links = menu.getElementsByTagName("a");
        for (var i = 0, len = links.length; i < len; i++) {
            links[i].onclick = toggleMenu(hamburger);
        }
        hamburger.addEventListener("click", toggleMenu());

        function toggleMenu() {
            return function () {
                hamburger.classList.toggle("bl-hamburger__container--open");
                appBar.classList.toggle("bl-bar--open");
            };
        }

        var ticking = false;

        window.addEventListener("resize", function () {
            if (!ticking) {
                window.requestAnimationFrame(function () {
                    if (window.matchMedia("(min-width: 841px)").matches) {
                        menu.classList.add("bl-menu--horizontal");
                    } else {
                        menu.classList.remove("bl-menu--horizontal");
                    }
                    ticking = false;
                });
                ticking = true;
            }
        });

        if (window.matchMedia("(min-width: 841px)").matches) {
            menu.classList.toggle("bl-menu--horizontal");
        }
    </script>
    <div class="mdc-layout-grid gp-layout-wrapper">
        <h1>Powering People To<br>Make #Change,<br>Through Spare Change</h1>
        <p class="hero-subtitle">The first global roundup change app that leverages spare change to ease your
            financial burdens &amp; improve your mental health.</p>
    </div>
</header>
<link rel="stylesheet" href="/stylesheets/gump/digital.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
<section class="digital">
    <div class="mdc-layout-grid gp-layout-wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h2 class="title_center">Financial Freedom Leads<br> to Mental Well-Being</h2>
            </div>
            <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet bl-layout--order-1-mobile ">
                <div class="digital__section">
                    <h3>Roundup</h3>
                    <p class="grey-text">By automatically giving your spare change to the nearest dollar you are
                        supporting mental health programs and creating your own financial freedom.</p>
                </div>
                <div class="digital__section">
                    <h3>#GUMPcoin</h3>
                    <p class="grey-text">The digital currency that works for everyone; transparent, no credit card
                        fees, and pegged 1:1 to the US Dollar.</p>
                </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
                <ul class="my-slider">
                    <li><img src="../images/slider/slider_01.png" alt="screenshot from balehu mobile application"></li>
                    <li><img src="../images/slider/slider_02.png" alt="screenshot from balehu mobile application"></li>
                    <li><img src="../images/slider/slider_03.png" alt="screenshot from balehu mobile application"></li>
                    <li><img src="../images/slider/slider_04.png" alt="screenshot from balehu mobile application"></li>
                    <li><img src="../images/slider/slider_05.png" alt="screenshot from balehu mobile application"></li>
                </ul>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet">
                <div class="digital__section">
                    <h3>Digital Wallet</h3>
                    <p class="grey-text">#GUMPchange utilizes a digital wallet in order to incentivize participation
                        and expand the #GUMPmovement.</p>
                </div>
                <div class="digital__section">
                    <h3>Data Ownership</h3>
                    <p class="grey-text">The data you generate through your financial transactions has value. Get paid
                        &amp; learn your true&nbsp;value.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="/stylesheets/gump/movement.css">
<section class="movement">
    <div class="gp-bgnd-wrapper">
        <div class="mdc-layout-grid gp-layout-wrapper">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <h2 class="title_center">How #GUMPmovement<br> Multiplies Your Giving Power</h2>
                    <p class="hero-subtitle">#GUMPmovement connects the 18&nbsp;million people with access to corporate
                        charity matching programs automatically to the $4-$7 Billion of matching funds
                        that go unclaimed each&nbsp;year.</p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <svg></svg>
                    <p class="grey-text">An estimated of $4&nbsp;&ndash; $7 billion in matching gift funds goes unclaimed
                        per&nbsp;year.</p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <svg></svg>
                    <p class="grey-text">65% of fortune 500&nbsp;companies offer matching gift programs.</p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <svg></svg>
                    <p class="grey-text">Over 18&nbsp;million individuals work for companies with matching gift
                        programs.</p>
                </div>

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <svg></svg>
                    <p class="grey-text">An estimated of $2&nbsp;&ndash; $3 billion is donated through matching gift programs
                        annually.</p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <svg></svg>
                    <p class="grey-text">84% of donors say they’re more likely to donate if a match is offered.</p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <svg></svg>
                    <p class="grey-text">1&nbsp;in 3&nbsp;donors indicate they’d give a larger gift if matching is applied
                        to their donation.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="/stylesheets/gump/benefits.css">
<section class="benefits gp-bgnd-wrapper">
    <div class="mdc-layout-grid gp-layout-wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h2>#GUMPmovement Benefits</h2>
            </div>
            <div class="bl-box mdc-layout-grid__cell">
                <img src="../images/benefit_01.png" width="100%" height="auto">
                <h3>Earn Financial Freedom</h3>
                <p>The financial burden and stress of modern life are holding us back from
                    living our best lives. Your contribution will be rewarded in the form of rent,
                    food, and vacation benefits.</p>
            </div>
            <div class="bl-box mdc-layout-grid__cell">
                <img src="../images/benefit_02.png" width="100%" height="auto">
                <h3>Discover Mental Freedom</h3>
                <p>Financial freedom affords us space for mental clarity. When we invest in our
                    own mental health, we are able to support the mental health of others.</p>
            </div>
            <div class="bl-box mdc-layout-grid__cell">
                <img src="../images/benefit_03.png" width="100%" height="auto">
                <h3>New Influencer Economy</h3>
                <p>Our next generation of influencers will be defined as #changemakers, who
                    share their stories, promote positivity to their networks, and earn by living
                    the change we wish to&nbsp;see.</p>
            </div>
            <div class="bl-box bl-box-margin mdc-layout-grid__cell">
                <img src="../images/benefit_04.png" width="100%" height="auto">
                <h3>Express Yourself</h3>
                <p>Your digital piggy artwork is unique to your personal identity, gamifying
                    your journey to financial freedom while supporting an ecosystem of artists with
                    your local community.</p>
            </div>
            <div class="bl-box bl-box-margin mdc-layout-grid__cell">
                <img src="../images/benefit_05.png" width="100%" height="auto">
                <h3>Transparent Impact</h3>
                <p>#GUMPmovement is proud to pioneer a new way of accountability utilizing
                    blockchain technology, with a mission to be the first fully decentralized
                    nonprofit accounting for anyone to explore.</p>
            </div>
            <div class="bl-box bl-box-margin mdc-layout-grid__cell">
                <img src="../images/benefit_06.png" width="100%" height="auto">
                <h3>Strength in Community</h3>
                <p>Connect with other people within #GUMPmovement through stories, and in-person
                    events who are walking the same journey towards financial freedom and mental
                    well-being.</p>
            </div>
        </div>
    </div>
</section>
<section class="closure bl-text--center">
    <div class="mdc-layout-grid gp-layout-wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h2 class="title_center">Roundup your spare change</h2>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <a href="/request-demo/" class="button">Request Demo</a>
            </div>
        </div>
    </div>
</section>

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        //initialize screenshot slider
        var slider = tns({
            container: ".my-slider",
            slideBy: "page",
            autoplay: true,
            navPosition: "bottom",
            autoplayPosition: "bottom",
            controls: false,
            "autoplayText": ["▶", "❚❚"]
        });

        //initialize revenue calculator
        var revenueOutputElm = document.getElementById("revenue-output");
        document.getElementById("revenue-input").addEventListener("input", function () {
            revenueOutputElm.innerText = Math.round((this.value * 3.25) * .75) / 100;
        });
    });
</script>
{% endblock %}

<footer>
    <div class="mdc-layout-grid gp-layout-wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <nav class="navigation">
                    <ul class="menu_list">
                        <li>
                            <a href="https://balehu.com" title="Balehu" rel="me" itemprop="sameAs" class="Balehu">
                                <img src="../images/ico_balehu.png" width="52" height="52" alt="balehu logo">
                            </a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/contact/">Contact</a>
                        </li>
                        <li>
                            <a href="/request-demo/">Partner with us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
</body>
</html>